<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/layouts/main.css" />
    <link rel="stylesheet" type="text/css" href="./home.css" />
    <link rel="stylesheet" type="text/css" href="./category.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer type="module" src="./home.js"></script>
    <title>고롱고롱::고롱고롱</title>
  </head>
  <body>
    <header></header>
    <nav class="navbar">
      <ul class="nav__cate">
        <li data-category="All" class="nav__cate--on">
          <a data-category="All" href="/">전체보기</a>
        </li>
        <li data-category="Food">
          <a data-category="Food">사료</a>
        </li>
        <li data-category="Snack">
          <a data-category="Snack">간식</a>
        </li>
        <li data-category="Toy">
          <a data-category="Toy">장난감</a>
        </li>
        <li data-category="Toilet">
          <a data-category="Toilet">위생</a>
        </li>
        <li data-category="Fashion">
          <a data-category="Fashion">의류</a>
        </li>
      </ul>
    </nav>
    <main role="main">
      <section class="prod">
        <div class="prod__page-size">
          <p>총 <span class="prod__item--amount"></span>개의 상품</p>
          <select class="prod__item--view">
            <option value="20" selected>20개씩 보기</option>
            <option value="40">40개씩 보기</option>
            <option value="all">전체 보기</option>
          </select>
        </div>
        <!-- 상품 리스트 불러오는 부분 -->
        <ul class="prod__list"></ul>
        <!-- 페이지네이션 -->
        <nav class="pagination">
          <button class="pagination__button-prev"><</button>
          <div class="pagination__count"></div>
          <button class="pagination__button-next">></button>
        </nav>
        <div class="bottom"></div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
