.prod {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 0;
}
.prod__page-size {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.prod__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.prod__item {
  width: 100%;
  display: grid;
}
.prod__link {
  text-decoration: 0;
  color: black;
}

.prod__link-thumb {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.prod__title {
  margin: 10px 0px;
}
.prod__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prod__order-price {
  font-size: 24px;
  font-weight: 500;
  margin-right: 2px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__button-active {
  background-color: yellow;
}

.bottom {
  width: 100%;
  height: 20px;
  bottom: 0;
}
