header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgb(232, 232, 232);
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 32px;
  width: 1200px;
}
.nav__logo {
  width: 120px;
  position: relative;
  bottom: 12px;
}

.nav__user-menu {
  justify-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav__user-menu li {
  padding: 8px;
}
.nav__user-menu a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #6f6f6f;
}
