<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/layouts/input-common.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer type="module" src="update-password.js"></script>
    <title>고롱고롱::비밀번호 변경</title>
  </head>
  <body>
    <main role="main">
      <section class="sign">
        <a href="/">
          <img src="/img/logo.png" alt="고롱고롱 로고" width="150px" />
        </a>
        <form class="sign__form">
          <h1>비밀번호 변경</h1>
          <label for="form__pw">비밀번호 변경</label>
          <input
            id="form__pw"
            class="form__pw"
            name="form__pw"
            type="password"
            minlength="8"
            placeholder="비밀번호"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[₩~!@#$%^&*()_-+=,.<>/?])[A-Za-z\d₩~!@#$%^&*()_-+=,.<>/?]{8,}$"
            required
          />
          <p class="form__help">영문, 숫자, 특수문자를 포함한 8자 이상의 비밀번호를 입력해 주세요.</p>

          <label for="form__pw-check">비밀번호 변경 확인</label>
          <input
            id="form__pw-check"
            class="form__pw-check"
            name="form__pw-check"
            type="password"
            minlength="8"
            placeholder="비밀번호 재입력"
            required
          />

          <button class="form__submit" type="submit">비밀번호 변경</button>
        </form>
      </section>
    </main>
  </body>
</html>
